<div class="container">
  <br>
  <h1>Pipes</h1>
  <hr>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Variable</th>
        <th>Pipe</th>
        <th>Resultado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{nombre}}</td>
        <td>Uppercase</td>
        <td>{{nombre | uppercase}}</td>
      </tr>
      <tr>
        <td>{{nombre}}</td>
        <td>Lowercase</td>
        <td>{{nombre | lowercase}}</td>
      </tr>
      <tr>
        <td>{{nombre}}</td>
        <td>Slice:2</td>
        <td>{{nombre | slice:2}}</td>
      </tr>
      <tr>
        <td>{{PI}}</td>
        <td>Number:'1.0-4'</td>
        <td>{{PI | number:'1.0-4'}}</td>
      </tr>
      <tr>
        <td>{{a}}</td>
        <td>Percent:'.0-2'</td>
        <td>{{a | percent:'.0-2'}}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td>Currency</td>
        <td>{{salario | currency:'USD'}}</td>
      </tr>
      <tr>
        <td>{{persona}}</td>
        <td>Json</td>
        <td>
          <pre>{{persona | json}}</pre>
        </td>
      </tr>
      <tr>
        <td>{{promesa}}</td>
        <td>Async</td>
        <td>{{promesa | async}}</td>
      </tr>
      <tr>
        <td>{{fecha}}</td>
        <td>Date</td>
        <td>{{fecha | date:'dd/MM/yyyy'}}</td>
      </tr>
      <tr>
        <td>{{nombre_completo}}</td>
        <td>Capitalizado</td>
        <td>{{nombre_completo | capitalizado:true}}</td>
      </tr>
      <tr>
        <td>{{constrasenia}}</td>
        <td>
          Contraseña
          <br>
          <button type="button" (click)="mostrar = !mostrar">Mostrar</button>
        </td>
        <td>{{constrasenia | contrasenia:mostrar}}</td>
      </tr>
    </tbody>
  </table>

  <h2>YouTube</h2>
  <hr>
  <iframe width="560" height="315" [src]="video | domseguro:'https://www.youtube.com/embed/'" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>